textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    margin-bottom: 1%;
    width: 95%;
    border-radius: 5px 5px;
    padding: 1%;
} 

.update__post {
    display:none;
}